{% extends 'base.html' %}
{% load tz %}
{% now "Y-m-d" as now %}
{% block content %}
<section class="container">
  <div class="text-center">
    <h1>View Contract</h1>
  </div>
  <article>
    <h2>{{ object.contract_title }}</h2>
    <div class="h-stack">
      <div><b>Agency Name:</b></div>
      <div><b>Email:</b></div>
      <div><b>Expires:</b></div>
      <div><b>Lowest Bid:</b></div>
      <div><b>Description:</b></div>
    </div>
    <div class="h-stack">
      <div>{{ object.contractee.agency_name }}</div>
      <div>{{ object.contractee.email }}</div>
      <div style="font-weight:bold; color:red;">{{ object.bidding_end_date }}</div>
      <div>
        {% if object.lowest_bid == 0 %} 
        None 
        {% else %} 
          ${{ object.lowest_bid }}
        {% endif %}
      </div>
      <div>{{ object.job_description }}</div>
    </div>
  </article>
</section>
<section class="beige-bg pad-section">
  <div class="container">
    <nav>
      <ul>
        <li><h4>Current Bids</h4></li>
      </ul>
      {% if user.type == 'CONTRACTOR' and object.bidding_end_date > now %}
        <ul>
          <li><a href="{% url 'create_bid' object.pk %}" role="button">Place a New Bid</a></li>
        </ul>
      {% else %}
        <p class="note">Bidding is no longer available for this contract.</p>
      {% endif %} 
    </nav>
    {% if object.bids|length == 0 %}
      <div>There are no bids</div>
    {% else %}
      <div class="card-grid">
        {% for bid in object.bids %}
          <article class="remove-margin">
            <h5>{{ bid.contractor.agency_name }}</h5>
            <div><b>Bid</b></div>
            <p>${{ bid.amount }}</p>
            <div><b>Email</b></div>
            <p>{{ bid.contractor.email }}</p>
            <div><b>Date Placed</b></div>
            <p>{{ bid.date_placed }}</p>
          </article>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}
