{% extends 'base.html' %} 
{% block content %}
  <h1 class="text-center">The Contract Board</h1>
  {% if user.type == 'CONTRACTEE' %}
  <section>
    <a href="{% url 'create_contract' %}" role="button">Create New Contract</a>
  </section>
  {% endif %} 
  <section class="card-grid">
    {% if object_list|length == 0 %}
      <div>No contracts found</div>
    {% else %} 
      {% for contract in object_list %}
        <a href="contract/{{ contract.pk }}">
          <article class="remove-margin">
            <h4>{{ contract.contract_title }}</h4>
            <div class="h-stack">
              <div><b>Agency Name:</b></div>
              <div><b>Expiration Date:</b></div>
              <div><b>Lowest Bid:</b></div>
              <div><b>Number of Bids:</b></div>
            </div>
            <div class="h-stack">
              <div>{{ contract.contractee.agency_name }}</div>
              <div>{{ contract.bidding_end_date }}</div>
              <div>
                {% if contract.lowest_bid == 0 %} 
                  None 
                {% else %}
                  ${{ contract.lowest_bid }} 
                {% endif %}
              </div>
              <div>{{ contract.number_bids }}</div>
            </div>
          </article>
        </a>
      {% endfor %} 
    {% endif %}
  </section>
{% endblock %}
s