{% extends 'base.html' %} 

{% block content %}
    <section id="contract">
        <h2>{{ object.contract_title }}</h1>
        <div class="listing-items">
            <div>
                <span>Agency Name:</span> 
                <span class="contract-agency-name">{{ object.contractee.agency_name }}</span>
            </div>
            <div>
                <span>Contact Information:</span> 
                <span class="contract-contact-information">{{ object.contractee.email }}</span>
            </div>
            <div>
                <span>Expiration Date:</span> 
                <span class="contract-bidding-end-date">{{ object.bidding_end_date }}</span></div>
            <div>
                <span>Lowest Bid:</span> 
                <span class="contract-lowest-bid">{% if object.lowest_bid == 0 %} None {% else %} ${{ object.lowest_bid }} {% endif %}</span></div>
            <div>
                <span>Description:</span>
                <span class="contract-job-description">{{ object.job_description }}</span>
            </div>
        </div>
    </section>
    <section class="bid-list">
        <h2>Current Bids</h2>
        {% if object.bids|length == 0 %}
            <p>No bids have been placed yet.</p>
        {% else %}
            {% for bid in object.bids %}
            <div class="bid-listing">
                <h3>{{ bid.contractor_name }}</h3>
                <div class="listing-items">
                    <div>
                        <span>Bid:</span> 
                        <span class="bid-amount">${{ bid.amount }}</span>
                    </div>
                    <div>
                        <span>Contact Information:</span> 
                        <span class="bid-contact-information">{{ bid.contractor.email }}</span>
                    </div>
                    <div>
                        <span>Date Placed:</span> 
                        <span class="bid-date-placed">{{ bid.date_placed }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </section>
{% endblock %}