{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h1 class="text-center">The Contract Board</h1>
  {% if user.type == 'CONTRACTEE' %}
  <section>
    <div class="right">
      <a href="{% url 'create_contract' %}" role="button">
        Create New Contract
      </a>
    </div>
  </section>
  {% endif %}
  <section class="card-grid">
    {% if object_list|length == 0 %}
    <div>No contracts found Today</div>
    {% else %} 
      {% for contract in object_list %}
        <article class="remove-margin hover-dark contract" id="{{ contract.pk }}">
          <h4>{{ contract.contract_title }}</h4>
          <div><b>Agency Name</b></div>
          <p>{{ contract.contractee.agency_name }}</p>
          <div><b>Bidding Ends</b></div>
          <p>{{ contract.bidding_end_date }}</p>
          <div><b>Lowest Bid</b></div>
          <p>
            {% if contract.lowest_bid == 0 %} 
              None 
            {% else %} 
              ${{contract.lowest_bid }} 
            {% endif %}
          </p>
          <div><b>Number of Bids</b></div>
          <p>{{ contract.number_bids }}</p>
        </article>
      {% endfor %} 
    {% endif %}
  </section>
</div>
<script>
  const contracts = document.querySelectorAll('.contract');
  contracts.forEach((contract) => {
    contract.addEventListener('click', () => {
      window.location.href = '/contract/' + contract.id;
    });
  });
</script>
{% endblock %}
