{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h1 class="text-center">The Contract Board</h1>
  {% if user.type == 'CONTRACTEE' %}
  <section>
    <div class="right">
    <a href="{% url 'create_contract' %}" role="button">Create New Contract</a>
    </div>
  </section>
  {% endif %} 
  <section class="card-grid">
    {% if object_list|length == 0 %}
      <div>No contracts found</div>
    {% else %} 
      {% for contract in object_list %}
        <div class="overlay-container">
          <article class="remove-margin overlay-content">
            <h4>{{ contract.contract_title }}</h4>
            <div class="h-stack">
              <div><b>Agency</b></div>
              <div><b>Expires</b></div>
              <div><b>Low Bid</b></div>
              <div><b># Bids</b></div>
            </div>
            <div class="h-stack">
              <div>{{ contract.contractee.agency_name }}</div>
              <div>{{ contract.bidding_end_date }}</div>
              <div>
                {% if contract.lowest_bid == 0 %} 
                  None 
                {% else %}
                  ${{ contract.lowest_bid }} 
                {% endif %}
              </div>
              <div>{{ contract.number_bids }}</div>
            </div>
          </article>
          <a href="contract/{{ contract.pk }}" class="overlay"></a>
        </div>
      {% endfor %} 
    {% endif %}
  </section>
</div>
{% endblock %}