<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'contract_list' %}">Contract Bidding Board</a>
        <a href="{% url 'contract_list' %}">Home</a>
      </nav>
    </header>
    <main>
      <div class="wrapper">
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
