<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/android-chrome-512x512.png" sizes="512x512">
    <title>Contract Board</title>
  </head>
  <body>
    <main class="container">
      <div class="text-center">
        <h1>The Contract Board</h1>
      </div>
      <div>{% block content %} {% endblock %}</div>
    </main>
  </body>
</html>