<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Contract Board</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="{% url 'home' %}" class="secondary">
              <strong>Contract Bidding Board</strong>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{% url 'user' %}" class="secondary">@{{ user.username }}</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" role="button" class="secondary outline">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
  </body>
</html>
