<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="wrapper">
          <a href="{% url 'home' %}" class="nav-item">Contract Bidding Board</a>
          <div class="nav-auth-items">
            {% if user.is_authenticated %}
            <a href="{% url 'user' %}" class="nav-item">@{{ user.username }}</a>
            <a href="{% url 'logout' %}" class="nav-item">Logout</a>
            {% else %}
              <a href="{% url 'login' %}" class="nav-item">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="wrapper">{% block content %} {% endblock %}</div>
    </main>
  </body>
</html>
