{% extends 'base.html' %} 

{% block content %}
    <section>
        <h2>{{ contract.contract_title }}</h1>
        <div class="listing-items">
            <div>
                <span>Agency Name:</span> 
                <span>{{ contract.agency_name }}</span>
            </div>
            <div>
                <span>Contact Information:</span> 
                <span>{{ contract.contact_information }}</span>
            </div>
            <div>
                <span>Expiration Date:</span> 
                <span>{{ contract.bidding_end_date }}</span></div>
            <div>
                <span>Lowest Bid:</span> 
                <span>{% if contract.lowest_bid == "0" %} None {% else %} ${{ contract.lowest_bid }} {% endif %}</span></div>
            <div>
                <span>Description:</span>
                <span>{{ contract.job_description }}</span>
            </div>
        </div>
    </section>
    <section>
        <h2>Current Bids</h2>
        {% for bid in bids %}
            <div class="bid-listing">
                <h3>{{ bid.contractor_name }}</h3>
                <div class="listing-items">
                    <div>
                        <span>Bid:</span> 
                        <span>${{ bid.amount }}</span>
                    </div>
                    <div>
                        <span>Contact Information:</span> 
                        <span>{{ bid.contact_information }}</span>
                    </div>
                    <div>
                        <span>Date Placed:</span> 
                        <span>{{ bid.date_placed }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section>
        <form action="{{ contract.pk }}" method="post">
        <h3>Place a new Bid</h3>
            {{ form }} 
            {% csrf_token %}
            <input type="submit" value="Submit" />
        </form>
    </section>
{% endblock %}