{% extends 'base.html' %} 

{% block content %}
    <section id="contract">
        <h2>{{ contract.contract_title }}</h1>
        <div class="listing-items">
            <div>
                <span>Agency Name:</span> 
                <span class="contract-agency-name">{{ contract.agency_name }}</span>
            </div>
            <div>
                <span>Contact Information:</span> 
                <span class="contract-contact-information">{{ contract.contact_information }}</span>
            </div>
            <div>
                <span>Expiration Date:</span> 
                <span class="contract-bidding-end-date">{{ contract.bidding_end_date }}</span></div>
            <div>
                <span>Lowest Bid:</span> 
                <span class="contract-lowest-bid">{% if contract.lowest_bid == 0 %} None {% else %} ${{ contract.lowest_bid }} {% endif %}</span></div>
            <div>
                <span>Description:</span>
                <span class="contract-job-description">{{ contract.job_description }}</span>
            </div>
        </div>
    </section>
    <section class="bid-list">
        <h2>Current Bids</h2>
        {% for bid in bids %}
            <div class="bid-listing">
                <h3>{{ bid.contractor_name }}</h3>
                <div class="listing-items">
                    <div>
                        <span>Bid:</span> 
                        <span class="bid-amount">${{ bid.amount }}</span>
                    </div>
                    <div>
                        <span>Contact Information:</span> 
                        <span class="bid-contact-information">{{ bid.contact_information }}</span>
                    </div>
                    <div>
                        <span>Date Placed:</span> 
                        <span class="bid-date-placed">{{ bid.date_placed }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section>
        <form action="{{ contract.pk }}" method="post">
        <h3>Place a new Bid</h3>
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.contractor_name }}
            {% if form.contractor_name.errors %}
                <div class="alert alert-warning">
                    {% for error in form.contractor_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.amount }}
            {% if form.amount.errors %}
                <div class="alert alert-warning">
                    {% for error in form.amount.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {{ form.contact_information }}
            {% if form.contact_information.errors %}
                <div class="alert alert-warning">
                    {% for error in form.contact_information.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <input type="submit" value="Submit" id="submit" />
        </form>
    </section>
{% endblock %}
