.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.errorlist {
  color: #e53935;
}

.h-stack {
  display: inline-block;
  margin-right: 10px;
}

.remove-margin {
  margin: 0px;
}

.text-center {
  text-align: center;
}
