{% extends 'base.html' %} 
{% block content %}
  <article>
    <h3>{{ user.username }}</h3>
    <div class="h-stack">
      <div><b>Agency:</b></div>
      <div><b>Email:</b></div>
      <div><b>User Type:</b></div>
    </div>
    <div class="h-stack">
      <div>{{ user.agency_name }}</div>
      <div>{{ user.email }}</div>
      <div>{{ user.type|lower }}</div>
    </div>
  </article>
  <section>
    {% if user.type == 'CONTRACTOR' %}
      <h3>Contracts Bid On</h3>
    {% else %}
      <h3>Contracts Placed</h3>
    {% endif %} 
    {% if contracts|length == 0 %}
      <div>No contracts found</div>
    {% else %}
      <div class="card-grid">
        {% for contract in contracts %}
          <div class="overlay-container">
            <article class="remove-margin overlay-content">
              <h5>{{ contract.contract_title }}</h5>
              <div class="h-stack">
                <div><b>Agency Name:</b></div>
                <div><b>Expiration Date:</b></div>
                <div><b>Lowest Bid:</b></div>
                <div><b>Number of Bids:</b></div>
              </div>
              <div class="h-stack">
                <div>{{ contract.contractee.agency_name }}</div>
                <div>{{ contract.bidding_end_date }}</div>
                <div>
                  {% if contract.lowest_bid == 0 %} 
                    None 
                  {% else %}
                    ${{ contract.lowest_bid }} 
                  {% endif %}
                </div>
                <div>{{ contract.number_bids }}</div>
              </div>
            </article>
            <a href="contract/{{ contract.pk }}" class="overlay"></a>
          </div>
        {% endfor %}
      </div>
    {% endif %} 
  </section>
{% endblock %}
